{{!-- <ul>
  <li>{{#each}}
</ul> --}}
{{#each Post}}
  <section>
    <ul>
      <li class="day">{{day}}</li>
      <li class="time">{{time}}</li>
    </ul>
    <i class="{{icon}}"</i>
    <div class="content">
      <h3>{{title}}</h3>
      <p>{{text}}</p>
    </div>
  </section>
{{/each}}
